.ContactUs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ContactUs-left {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.ContactUs-right {
}
.right-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.right-form input {
  margin-bottom: 20px;
}
