.Container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Block {
  background-color: red;
}

.Content-image {
  background-color: white;
}
/* ########################## version 1 ##############################*/
/* .Process {
  color: white;
  background-color: #f07202;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}
.Process-container {
  display: flex;
}

.Process-topicBlock {
  font-size: 1.5em;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
}

.Process-topicText {
  margin: 0;
}
.Process-block {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Process-subBlock {
  width: 160px;
  align-self: center;
}

.flip {
  transform: rotate(180deg) scaleY(-1);
} */

/* ############################## version 2 ############################## */
/* .Process {
  margin-bottom: 50px;
}
.Process .Container {
  display: flex;
  flex-flow: column wrap;
}
.Container-Top {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Container-Bottom {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.Block {
  padding: 0;
  width: 23vw;
  background-color: white;
  text-align: center;
  align-self: center;
} */
